.bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1c1c1c;
}

.barContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.barTiming {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding: 0 20px;
  margin-bottom: 5px;
  color: #b1b1b1;
  font-size: 14px;
  line-height: 18px;
}

.barPlayerBlock {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 36px;
}

.barPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.playerControls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 0;
  align-items: center;
}

.playerBtnPrev,
.playerBtnPlay,
.playerBtnNext,
.playerBtnRepeat,
.playerBtnShuffle {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.playerBtnPrev {
  margin-right: 23px;
}
.playerBtnPlay {
  margin-right: 23px;
}
.playerBtnNext {
  margin-right: 28px;
}
.playerBtnRepeat {
  margin-right: 24px;
}

.playerBtnPrevSvg {
  width: 15px;
  height: 14px;
}
.playerBtnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #b674ff;
  transition:
    fill 0.2s ease,
    transform 0.2s ease;
}

.playerBtnPlaySvg:hover {
  fill: #ad61ff;
  transform: scale(1.08);
}

.playerBtnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}
.playerBtnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}
.playerBtnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.playerBtnRepeat:hover svg,
.playerBtnShuffle:hover svg {
  fill: transparent;
  stroke: #acacac;
}

.playerTrackPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trackPlayContain {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'image author'
    'image album';
  align-items: center;
}

.trackPlayImage {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  grid-area: image;
}

.trackPlaySvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}
.trackPlayAuthor {
  grid-area: author;
  min-width: 49px;
}
.trackPlayAlbum {
  grid-area: album;
  min-width: 49px;
}

.trackPlayAuthorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.trackPlayAlbumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.trackPlayDislikeBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 26px;
}

.trackPlayLike,
.trackPlayDislike {
  padding: 5px;
  cursor: pointer;
}

.trackPlayDislike {
  margin-left: 28.5px;
}
.trackPlayLikeSvg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}
.trackPlayDislikeSvg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.barVolumeBlock {
  width: auto;
  display: flex;
  align-items: center;
}

.volumeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}
.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}
.volumeProgress {
  width: 109px;
  display: flex;
  align-items: center;
}

.volumeProgressLine {
  width: 100%;
  height: 2px;
  appearance: none;
  background: #797979;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volumeProgressLine::-webkit-slider-runnable-track {
  height: 2px;
  background: #797979;
  border-radius: 5px;
}
.volumeProgressLine::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  margin-top: -7px;
}

.btnActive svg {
  fill: #ffffff;
  stroke: #ffffff;
  opacity: 1;
}
