* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-montserrat), Arial, sans-serif;
  background-color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input,
button {
  font-family: var(--font-montserrat), Arial, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}
